@import '../../styles/variables.scss';

.login {
  @include flex-center;
  justify-content: center;
  height: 100vh;

  .loginBox {
    @include flex-center;
    flex-direction: column;
    margin-top: 400px;

    // background-color: lightgray;
    // margin: 200px 0;

    .loginHeader {
      text-align: center;
      margin: 50px 110px 30px 110px;
      padding: 40px;

      img {
        width: 150px;
        height: auto;
        margin-bottom: 5px;
      }

      p {
        font-size: $body;
        color: $font-gray;
      }

      .logo {
        color: #3d3d3d;
        font-size: 30px;
        font-weight: 900;
      }
    }
  }

  .kakaoConnect {
    @include flex-center;
    justify-content: center;
    padding: 15px 110px;
    // 약간 하드코딩느낌...
    background-color: #f9df33;
    margin-bottom: 10px;
    cursor: pointer;
    // line-height: 20px;

    &:hover {
      background-color: #ebd233;
    }

    i {
      margin-right: 7px;
    }

    span {
      font-size: 17px;
      font-weight: 500;
      margin-top: 3px;
      // 센터로 다 맞췄는데도 이상해서 어거지로 정렬함
    }
  }
  .advertiseBanner {
    a {
      color: $font-gray;
      text-decoration: none;
    }
    img {
      width: 420px;
      height: 135px;
      margin-bottom: 15px;
      cursor: pointer;
    }
  }
  .orLine {
    border-top: 1px solid #c9cacc;
    // width: 420px;
    padding: 0 207px;
    margin-top: 15px;
  }
  .or {
    font-size: $body;
    color: #c9cacc;
    position: relative;
    background-color: white;
    padding: 10px;
    top: -17px;
  }
  .inputInfo {
    @include flex-center;
    flex-direction: column;
    input {
      // width: 420px;
      width: 245%;
      padding: 13px 10px;
      // padding: 15px 135px;
      border: 1px solid #c9cacc;
      border-radius: 3px;
      // color: #c9cacc;
      &:focus {
        outline: 1px solid $theme-green;
      }
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .autoLogin {
    width: 420px;
    margin: 10px;
    padding: 10px 0;
    color: #c9cacc;
    @include flex-center;

    input[type='checkbox'] {
      display: none;

      + label {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: white;
        margin-right: 7px;
        cursor: pointer;
        border: 1px solid $border-gray;
        border-radius: 3px;
      }
      &:checked + label {
        background: url(../../../public/images/checked.png) $theme-green
          no-repeat center/20px 20px;
      }
    }
    span {
      font-size: 16px;
      font-weight: 500;
      // color: $font-gray;
      // line-height: 10px;
    }
  }

  .active {
    // width: 420px;
    // padding: 13px 10px;
    padding: 15px 190px;
    // 얘는 왜 패딩..190...?
    border: none;
    background-color: $theme-green;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
  }

  .unActive {
    // width: 420px;
    // padding: 13px 10px;
    padding: 15px 190px;
    // 얘는 왜 패딩..190...?
    border: none;

    background-color: #c9cacc;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
  }
  .appleConnect {
    // width: 420px;
    // padding: 13px 0;
    padding: 15px 142px;
    @include flex-center;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;

    i {
      margin-right: 10px;
    }
  }
  .findAndSignUp {
    @include flex-center;
    justify-content: space-between;
    width: 420px;
    font-size: $body;
    margin-top: 15px;
    color: $font-gray;
    padding-bottom: 10px;
    margin-bottom: 100px;
    cursor: pointer;
    a {
      color: $font-gray;
      text-decoration: none;
    }

    .find {
      display: flex;

      li {
        &:first-child {
          border-right: 1px solid $font-gray;
          padding-right: 7px;
          margin-right: 7px;
        }
      }
    }
  }
}
