@import '../../styles/variables.scss';

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

.subsOptOverlay {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: black;
  opacity: 0.5;
}

.subsOptModal {
  position: fixed;
  @include flex-between();
  flex-direction: column;
  top:50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 80vh;
  border-radius: $radio-size;
  padding: 20px;
  background: #fff;

  .subsOptHeader {
    @include flex-column();
    width: 100%;

    .subsOptTop {
      @include flex-between();

      img {
        width: 7%;
      }

      .closeButton {
        background-color: white;
        border: none;
        font-size: 1.3vw;
        color: #C9CACC;
        cursor: pointer;
      }
    }

    .subsOptTitle {
      @include flex-center;
      flex-direction: column;
      margin-top: 20px;
  
      .title {
        font-size: 1.7vw;
      }
  
      .subsStep {
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.8vw;
  
        .finalStep {
          color: #C9CACC;
        }
      }
    }
  }

  .subsOptBody {
    @include flex-column();
    width: 90%;
    
    .subsOptQuery {
      font-size: 2.3vw;
      font-weight: bold;
      text-align: center;
      color: $theme-green;
      margin-top: -20px;
      margin-bottom: 20px;

      p {
        padding-bottom: 5px;
      }
    }

    .subsOptSelectList {
      
      .subsOptSelect {
        @include flex-center;
        flex-direction: column;
        margin-bottom: 1vw;

        .radioBtn {
          display: inline;
          padding-right: 1.8vw;

          input[type="radio"] {
            vertical-align: -30%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 5px;
            border-radius: 50%;
            width: 1.6vw;
            height: 1.6vw;
            border: 1px solid $font-gray;
            transition: 0.2s all linear;
  
            &:checked {
              border: 5px solid $theme-green;
            }
          }
  
          label {
            font-size: 1.8vw;
          }
        }

        input[type="date"] {
          padding: 0.4vw;
          border: 1px solid $font-gray;
          border-radius: $radio-size;
          color: $font-gray;
          text-align: center;

          &:focus {
            outline: 1px solid $theme-green;
          }
        }

        .dietOptBtn {
          width: 15vw;
          padding: 0.4vw;
          background-color: #C9CACC;
          border: none;
          border-radius: $radio-size;
          font-size: $body;
          color: white;

          &:hover {
            background-color: $theme-green;
            box-shadow: 2px 1px 1px $border-gray;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }


  .subsOptFooter {
    @include flex-column();
    width: 100%;

    .subsOptPred {
      @include flex-center;
      flex-direction: column;
      font-size: 1.4vw;
      color: $font-gray;

      .subsOptSize {
        margin-bottom: 5px;
      }

      :nth-child(2) {
        margin-bottom: 10px;
      }

      .subsOptFinalCaution {
        margin-top: 15px;
        font-size: 1vw;;
        color: $theme-green;
      }

      .emphasize {
        font-weight: bold;
        color: $theme-green;
      }
    
      p {
        margin-top: 5px;
        font-size: 2vw;
        font-weight: bold;
        color: black;
      }
    }

    .subsOptBottom {
      @include flex-between();
      margin-top: 40px;
      
      button {
        background-color: white;
        border: none;
        font-size: 1.3vw;
        color: $theme-green;
        cursor: pointer;
      
        &[disabled] {
          color: $border-gray;
          cursor: default;
        }
      }
    }
  }
}