@import '../../styles/variables.scss';

.main {
  overflow: hidden;

  .container {
    display: flex;
    position: relative;
    width: 400vw;
    height: 450px;
    padding-top: 143px;
    transition: transform 0.5s;

    .fa-angle-left {
      position: absolute;
      bottom: 130px;
      left: 153px;
      font-size: 40px;
      color: #fff;
      opacity: 0.3;
      &:hover {
        opacity: 0.5;
      }
    }
    .fa-angle-right {
      font-size: 40px;
      color: white;
      position: absolute;
      bottom: 130px;
      left: 1260px;
      opacity: 0.3;
      &:hover {
        opacity: 0.5;
      }
    }

    div {
      width: 100vw;

      img {
        width: 100%;
      }
    }
  }
}
