.SubsDetail {
  padding: 80px 0 40px;
  border: 1px solid salmon;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .imgAndInfo {
    max-width: 1200px;
    width: 80%;
  }
}
