@import '../../styles/variables.scss';

.align {
  display: flex;
  justify-content: center;

  .footer {
    width: 1173px;
    margin-top: 100px;
    color: $font-gray;

    .footerFirst {
      @include flex-center;
      height: 42px;
      justify-content: space-between;
      margin-bottom: 45px;

      img {
        width: 170px;
        height: 35px;
      }

      .footerFirstRight {
        display: flex;
        cursor: pointer;

        a {
          color: $font-gray;
          text-decoration: none;

          &:nth-child(even) {
            margin: 0 30px;
          }
        }
      }
    }

    h3 {
      color: #333333;
      font-size: 20px;
      font-weight: 600;
    }

    .footerSecond {
      @include flex-center;
      height: 62px;
      margin-bottom: 30px;

      .questionBtn button {
        width: 124px;
        height: 44px;
        margin-right: 30px;
        color: $theme-green;
        background-color: white;
        border: 1px solid $theme-green;
        border-radius: 3px;
        cursor: pointer;
      }

      .questionSchedule {
        .questionScheduleFirst,
        .questionScheduleSecond {
          display: flex;

          p:first-child {
            width: 330px;
            border-right: 1px solid $border-gray;
            margin-right: 20px;

            span:first-child {
              margin-right: 10px;
              color: #333333;
            }
          }
          p:last-child {
            span:first-child {
              margin-right: 10px;
              color: #333333;
            }
          }
        }
        div:first-child {
          margin-bottom: 6px;
        }
      }
    }

    .footerThird {
      margin-bottom: 45px;

      .footerThirdFirst {
        display: flex;
        margin-bottom: 15px;

        div:nth-child(-n + 3) {
          margin-right: 15px;
          padding-right: 15px;
          border-right: 1px solid $border-gray;

          span:first-child {
            margin-right: 10px;
            color: #333333;
          }
        }
        div:last-child {
          span:first-child {
            margin-right: 10px;
            color: #333333;
          }
        }
      }

      .footerThirdSecond {
        display: flex;

        div:nth-child(-n + 2) {
          margin-right: 15px;
          padding-right: 15px;
          border-right: 1px solid $border-gray;

          span:first-child {
            margin-right: 10px;
            color: #333333;
          }
        }
        div:last-child {
          span:first-child {
            margin-right: 10px;
            color: #333333;
          }
        }
      }
      a {
        color: $font-gray;
        text-decoration: none;
        cursor: pointer;
      }
    }
    .footerFourth {
      display: flex;
      justify-content: space-between;
      height: 61px;
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 20px;

      .footerFourthIcon {
        @include flex-center;
        cursor: pointer;

        i {
          color: $theme-green;
          font-size: 25px;

          &:nth-child(even) {
            margin: 0 25px;
          }
        }
      }
    }
  }
}
