@import '../../styles/variables.scss';

.subsList {
  @include flex-center;
  flex-direction: column;
  margin-top: 148px;

  .subsListHead {
    @include flex-center;
    flex-direction: column;
    padding: 50px;

    .title {
      padding-bottom: 15px;
      font-weight: bold;
      font-size: 30px;
    }
    .subsSlogan {
      font-size: $headline;
  
      :nth-child(2) {
        color: $theme-green;
      }
    }

  }

  .subsProd {
    @include flex-center;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 20px;
    width: 60vw;
    border: 1px solid $border-gray;
    border-radius: $radio-size;
    box-shadow: 5px 3px 3px $border-gray;

    .subsProdImg {
      width: 20%;
    }

    .subsProdName {
      margin-bottom: 10px;
    }

    .subsProdText {
      display: flex;
      flex-direction: column;

      .subsProdDesc {
        font-size: $headline;
      }
      .subsProdName {
        font-size: 38px;
        font-weight: bold;
        color: $theme-green;
      }
  
      .subsProdSub {
        padding-top: 30px;
        color: $font-gray;
      }

    }

    &[position="right"] {
      img {
        order: 1;
      }
    }

    &[position="left"] {
      .subsProdText {
        text-align: end;
      }
    }
    
  }
}