@import '../../styles/variables.scss';

.emailSignUpBtn {
  // width: 420px;
  // padding: 13px 0;
  padding: 15px 153px;
  border: none;
  background-color: $theme-green;
  color: white;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background-color: rgb(109, 184, 109);
    // text-align: center;
    // 정렬 아무것도 안했는데 왜 가운데 정렬되는거지
  }
}
.setKakaoConnect {
  @include flex-center;
  justify-content: center;
  width: 420px;
  padding: 15px 0;
  // padding: 15px 126px;
  // 약간 하드코딩느낌... flexㅎ
  background-color: #f9df33;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #e2ca2e;
  }

  i {
    margin-right: 5px;
  }
  span {
    font-size: $body;
    font-weight: 400;
    margin-top: 2px;
  }
}
