@import '../../styles/variables.scss';

.preSignUp {
  @include flex-center;
  justify-content: center;
  height: 80vh;

  .preSignUpBox {
    @include flex-center;
    flex-direction: column;
    margin-top: 200px;
    padding-bottom: 100px;

    .preSignUpHeader {
      margin: 50px 110px 30px 110px;
      text-align: center;
      padding: 40px;

      img {
        width: 150px;
        height: auto;
        margin-bottom: 5px;
      }

      p {
        color: $font-gray;
        font-size: $body;
      }

      .logo {
        color: #3d3d3d;
        font-size: 30px;
        font-weight: 900;
      }
    }
  }

  .setKakaoConnect {
    @include flex-center;
    justify-content: center;
    width: 420px;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: #f9df33;
    cursor: pointer;

    &:hover {
      background-color: #e2ca2e;
    }

    i {
      margin-right: 5px;
    }

    span {
      margin-top: 3px;
      font-size: $body;
      font-weight: 400;
    }
  }
}
.advertiseBanner {
  a {
    color: $font-gray;
    text-decoration: none;
  }

  img {
    width: 420px;
    height: 135px;
    margin-bottom: 15px;
    cursor: pointer;
  }
}

.orLine {
  border-top: 1px solid #c9cacc;
  padding: 0 207px;
  margin-top: 15px;
}

.or {
  position: relative;
  padding: 10px;
  top: -17px;
  color: #c9cacc;
  background-color: white;
  font-size: $body;
}

.emailSignUpBtn {
  padding: 15px 153px;
  color: white;
  background-color: $theme-green;
  opacity: 0.9;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;

  &:hover {
    background-color: $theme-green;
    opacity: 1;
  }
}

.appleConnect {
  @include flex-center;
  justify-content: center;
  padding: 15px 142px;
  margin-top: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;

  i {
    margin-right: 10px;
  }
}
.marginbottom {
  height: 100px;
}
