@import '../../styles/variables.scss';

.signUp {
  // display: flex;
  // justify-content: center;
  // @include flex-center;
  // height: 100vh;

  span {
    font-size: $body;
    font-weight: 500;
  }

  .signUpBox {
    @include flex-center;
    flex-direction: column;
    // display: flex;
    // justify-content: center;
    // margin-top: 400px;

    // background-color: lightgray;
    // margin: 200px 0;

    .signUpHeader {
      @include flex-center;
      flex-direction: column;
      text-align: center;
      margin: 50px 110px 30px 110px;
      padding: 40px;

      img {
        width: 150px;
        height: auto;
        margin-bottom: 5px;
      }

      span {
        font-size: $body;
        color: $font-gray;
      }

      .logo {
        color: #3d3d3d;
        font-size: 30px;
        font-weight: 900;
      }
    }
  }
  .userInfo {
    font-size: 21px;
    font-weight: 500;

    margin-bottom: 20px;
  }

  .afterElementAdd::after {
    content: '*';
    // display: inline-block;
    color: red;
    margin-left: 3px;
  }
  .accountId {
    margin-bottom: 35px;
    div {
      &:last-child input {
        margin-top: 10px;
        width: 250px;
        padding: 12px 15px;
        border: 1px solid $border-gray;
        border-radius: 3px;
        margin-right: 10px;
        &:focus {
          outline: 1px solid $theme-green;
        }
      }
      &:last-child button {
        &:hover {
          cursor: pointer;
          opacity: 0.9;
        }
        // 왜 전체 버튼태그에 걸면 안되는가
        width: 120px;
        padding: 12px 15px;
        border: none;
        background-color: $theme-green;
        color: white;
        border-radius: 3px;
      }
    }
  }
  .accountPw {
    margin-bottom: 35px;
    input {
      margin-top: 10px;
      width: 380px;
      padding: 12px 15px;
      border: 1px solid $border-gray;
      border-radius: 3px;
      &:focus {
        outline: 1px solid $theme-green;
      }
    }
  }

  .accountRePw {
    margin-bottom: 50px;
    input {
      margin-top: 10px;
      width: 380px;
      padding: 12px 15px;
      border: 1px solid $border-gray;
      border-radius: 3px;
      &:focus {
        outline: 1px solid $theme-green;
      }
    }
  }
  .personalId {
    margin-bottom: 35px;
    input {
      margin-top: 10px;
      width: 380px;
      padding: 12px 15px;
      border: 1px solid $border-gray;
      border-radius: 3px;
      &:focus {
        outline: 1px solid $theme-green;
      }
    }
  }
  .personalNickName {
    margin-bottom: 35px;
    input {
      margin-top: 10px;
      width: 380px;
      padding: 12px 15px;
      border: 1px solid $border-gray;
      border-radius: 3px;
      &:focus {
        outline: 1px solid $theme-green;
      }
    }
  }
  .phoneNumber {
    margin-bottom: 35px;
    div {
      &:last-child input {
        margin-top: 10px;
        width: 250px;
        padding: 12px 15px;
        border: 1px solid $border-gray;
        border-radius: 3px;
        margin-right: 10px;
        &:focus {
          outline: 1px solid $theme-green;
        }
      }
      &:last-child button {
        width: 120px;
        padding: 12px 15px;
        border: none;
        background-color: $theme-green;
        color: white;
        border-radius: 3px;
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
  }
  .signUpButton {
    width: 380px;
    padding: 15px;
    border: none;
    background-color: $theme-green;
    color: white;
    border-radius: 3px;
    margin-bottom: 50px;
    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
  .gender {
    display: inline-block;
    margin-bottom: 10px;
  }
  .genderCheck {
    display: flex;
    margin-bottom: 35px;
    font-size: 20px;

    .femaleCheck,
    .maleCheck,
    .nobodyCheck {
      display: flex;
      font-size: 16px;
      color: $font-gray;
      // radio크기 키우는 법.. 알아오자...
    }
    span {
      color: $font-gray;
    }
    .maleCheck {
      margin: 0 15px;
    }
  }
  .birthday {
    margin-bottom: 35px;
    .birthdayList {
      margin-top: 10px;
    }
  }
  .allergy {
    margin-bottom: 35px;
    input {
      margin-top: 10px;
    }
  }
}

// @mixin input-layer {
//   width: 380px;
//   padding: 10px;
//   border: 1px solid $border-gray;
//   border-radius: 3px;
// }
