@import '../../styles/variables.scss';

.nav {
  position: fixed;
  width: 100vw;
  min-width: 1200px;
  color: $font-gray;
  background-color: white;
  font-size: 16px;

  .navFirstLine {
    @include flex-center;
    justify-content: space-between;
    padding: 40px 150px 0px 150px;

    .navFirstLeft {
      width: auto;
      height: 35px;
    }
    .navFirstLineRight {
      display: flex;
      font-size: 15px;

      .signUpBtn {
        a {
          color: $theme-green;
          text-decoration: none;
        }
      }

      .loginBtn {
        padding: 0 10px;
        margin: 0 10px;
        border-left: 1px solid #c9cacc;
        border-right: 1px solid #c9cacc;

        a {
          color: $font-gray;
          text-decoration: none;
        }
      }

      .as {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #c9cacc;

        a {
          color: $font-gray;
          text-decoration: none;
        }
      }

      li {
        &:last-child {
          a {
            color: $font-gray;
            text-decoration: none;
          }
        }
      }
    }
  }

  .navSecondLine {
    @include flex-center;
    justify-content: space-between;
    padding: 20px 150px;
    border-bottom: 1px solid #f0f0f0;
    font-weight: 500;

    .navSecondLineLeft {
      @include flex-center;

      a {
        color: $font-gray;
        text-decoration: none;
      }

      .subScriptionMenu,
      .oneMenuPurchase {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #c9cacc;
        a:hover {
          color: $theme-green;
        }
      }

      .allOfMenu {
        @include flex-center;
        font-size: 16px;

        &:hover {
          color: $theme-green;
        }

        .fa-bars {
          @include flex-center;
        }

        li {
          margin-left: 8px;
        }
      }
    }

    .navSecondLineRight {
      @include flex-center;
      font-size: 15px;

      .cart {
        padding-right: 10px;
        border-right: 1px solid #c9cacc;
      }

      i {
        margin-left: 10px;
        margin-right: 12px;
      }
      a {
        color: $font-gray;
        text-decoration: none;
      }

      .searchWrap {
        margin-right: 3px;
        border: 1px solid $border-gray;
        border-radius: 5px;

        input {
          width: 170px;
          padding: 3px 0;
          border: none;
          outline: none;

          &:focus::-webkit-input-placeholder {
            color: transparent;
          }

          &::placeholder {
            color: rgb(182, 182, 182);
            font-size: 16px;
          }
        }
      }

      i {
        margin-right: 7px;
      }
    }
  }

  p {
    margin: 0 3px;
    color: $border-gray;
    font-size: 18px;
  }

  .themeColor {
    color: $theme-green;
    text-decoration: none;
  }

  .fontGray {
    color: $font-gray;
    text-decoration: none;
  }
}

.menuContainer {
  display: flex;
  margin-left: 150px;

  .menuFirstList {
    width: 160px;
    height: 330px;
    background-color: white;

    .color {
      background-color: #dff9ec;
      color: black;
      &:hover {
        background-color: #dff9ec;
      }
      &:nth-child(-n + 2) {
        padding: 22px 15px 15px 15px;
      }
    }
    .uncolor {
      background-color: white;
      color: black;
      &:hover {
        background-color: #dff9ec;
      }
      &:nth-child(-n + 2) {
        padding: 22px 15px 15px 15px;
      }
    }
  }

  .menuFirstOfFirst {
    width: 160px;
    height: 330px;
    background-color: #dff9ec;

    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: #27b06e;
        text-decoration: underline;
      }
    }
  }
  .hideMenuFirstOfFirst {
    display: none;
  }

  li {
    &:nth-child(-n + 3) {
      padding: 22px 15px 15px 15px;
    }
  }
}

.menuFirstOfSecond {
  width: 160px;
  height: 330px;
  background-color: #dff9ec;

  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: #27b06e;
      text-decoration: underline;
    }
  }
  li {
    &:nth-child(-n + 6) {
      padding: 22px 15px 15px 15px;
    }
  }
}
.color {
  background-color: #dff9ec;
}
.uncolor {
  background-color: white;
}
